@model IEnumerable<ProyectoPrimerParcial.Models.Hangar>

@{
    ViewData["Title"] = "Index";
}

<h1>Hangares</h1>

<p>
    <a asp-action="Create" class="btn btn-success">+ Hangar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreHangar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AptoMantenimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oficinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aeronaves)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreHangar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AptoMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oficinas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aeronaves)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HangarId"class="btn btn-warning">Modificar</a> 
                <a asp-action="Details" asp-route-id="@item.HangarId" class="btn btn-primary">Detalle</a> 
                <a asp-action="Delete" asp-route-id="@item.HangarId"  class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar este instructor?')">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
