@model IEnumerable<ProyectoPrimerParcial.Models.Aeronave>

@{
    ViewData["Title"] = "Index";
}

<h1>Aeronaves</h1>

<p>
    <a asp-action="Create" class="btn btn-success">+ Aeronave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoAeronave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAeronave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AeronaveId"class="btn btn-warning">Modificar</a> 
                <a asp-action="Details" asp-route-id="@item.AeronaveId" class="btn btn-primary">Detalle</a> 
                <a asp-action="Delete" asp-route-id="@item.AeronaveId"  class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar este instructor?')">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
